::root {
  --primary: #002b45;
  --neutral: #d9dfe3;
  --success: #2ca968;
  --warning: #f76900;
  --danger: #c92332;
}

.line::before {
  content: ' ';
  height: 100%;
  width: 1px;
  background-color: red;
  top: 0;
  left: 2.5em;
  z-index: -1;
}

.primary::before {
  background-color: var(--primary);
}
.neutral::before {
  background-color: var(--neutral);
}
.success::before {
  background-color: var(--success);
}
.warning::before {
  background-color: var(--warning);
}
.danger::before {
  background-color: var(--danger);
}
